body {
    background-color: black;
    color: white;
    font-family: 'roboto';
}

#zero {
    box-shadow: 5px 10px #888888;
} 

#two {
    text-align: center;
    
} 
#two img {
    margin: 10px 10px;
}
#first > h1 {
    color: red;
}
#second > h1 {
    color: red;
}
#contact > h1 {
    color: red;
}
h1 {
    color: red;
}